<!--List of all Employees & projects -->

<h2> List of All Employees & Their Project(s) </h2>
<% @employees.each do |employee| %>
<ul>
 <li>
   <%=employee.name.capitalize%> works on the following projects: <br>
  <ul>
    <%employee.projects.each do |project|%>
      <li><b>Project Name:</b> <%=project.name%><br></li>
      <ul>
      <li>Description: <%=project.description%></li>
      <li>Hours: <%=project.hours%></li>
      <li>Project Number: <%=project.id%></li>
      <li>View <a href="/projects/<%=project.id%>">Project Page Here</a></li>
      </ul>
      <%end%>
  </ul>
</li>
</ul>
<% end %>
