<!--List of individual employee's projects and what is in progress or been completed-->
<!-- Tally up hours and projects #s-->

<%@total_hours = 0%>
<%@total_projects = 0%>
<%@employee.projects.each do |project|%>
<%@total_hours += project.hours%>
<%@total_projects += 1%>
<%end%>

<h2><%=@employee.name.capitalize%> has a total of <%=@total_hours%> hours on <%=@total_projects%> projects</h2>
<h3> Here's a list of <%= @employee.name.capitalize %>'s Projects</h3>
<% @employee.projects.each do |project|%>
<ul>
 <li><b>Project Name:</b> <%= project.name%></li>
 <li>Project Description:</b> <%= project.description%></li>
 <li>Project Hours:</b> <%= project.hours%><br></li>
 <li>Project Number:</b> <%= project.id%><br></li>
 <li>View <a href="/projects/<%=project.id%>">Project Page Here</a></li>
</ul>
<% end %>
