<!-- show all projects, descriptions, and everyone working on it-->
<h2> Here's a list of Projects</h2>
<% @projects.each do |project|%>
<ul>
 <li>
   <b>Project Name: <%= project.name.capitalize %>: </b><br>
    <ul>
      <li>Project Description: <%=project.description.capitalize%></li>
      <li>Project Hours Required: <%=project.hours%></li>
      <li>Project Employee: <%=project.employee.name.capitalize%></li>
      <li>Project Number: <%=project.id%></li>
      <li>View <a href="/projects/<%=project.id%>">Project Page Here</a></li>
    </ul>
    </ul>
</ul>
<% end %>
<br>

<p> Let's create more projects! Start <a href="/projects/new">here</a>
<p> You can also view all employees and projects <a href="/employees">here</a>
